{% extends 'bases/base-settings.html' %}
{% load static %}

{% block content %}
    <div class="settings-create">
        <form class="primary-form" action="{% url 'edit_about' pk=service.pk %}" method="post"
              enctype="multipart/form-data">
            <h4 style="text-align: center">Edit Model</h4>
            {% if form.errors %}
                {% for x in form.errors.values %}
                    {% if forloop.last %}
                        {{ x }}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for item in form %}
                {{ item.label_tag }}
                {{ item }}
                {% if item.errors %}
                    {{ item.errors }}
                {% endif %}
            {% endfor %}
            <button class="form-create-button" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}