.offer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 60%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    font-weight: bold;
    color: white;
    margin: 0 auto;
}

.body-offer-details {
    background-image: url("../images/login-back.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-position: center;
}
.detail {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
}

.span-comment {
    word-wrap: break-word;
}

.buttons-offer {
    display: flex;
    gap: 1em;
}

.company {
    color: greenyellow;
}

.company:hover {
    color: white;
}

body > div:nth-child(3) {
    width: 100%;
}

.buttons-offer > a {
    text-decoration: none;
}


@media (width < 600px) {
    .offer-details {
        width: 95%;
    }
    .published {
        display: flex;
        flex-direction: column;
    }

}
